<a href="{{ site.url }}/v1">
  Getting started
</a>
<div class="dropdown">
  <button>
    System
  </button>
  <div class="dropdown-content">
    <a href="{{ site.url }}/v1/System/Configuration">
      Configuration
    </a>
    <a href="{{ site.url }}/v1/System/Kernel">
      Kernel
    </a>
    <a href="{{ site.url }}/v1/System/Routing">
      Routing
    </a>
  </div>
</div>
<div class="dropdown">
  <button>
    Core
  </button>
  <div class="dropdown-content">
    <a href="{{ site.url }}/v1/Core/Compose">
      Compose
    </a>
    <a href="{{ site.url }}/v1/Core/Controller">
      Controller
    </a>
    <a href="{{ site.url }}/v1/Core/Exceptions">
      Exceptions
    </a>
    <a href="{{ site.url }}/v1/Core/Module">
      Module
    </a>
    <a href="{{ site.url }}/v1/Core/Session">
      Session
    </a>
    <a href="{{ site.url }}/v1/Core/Validate">
      Validate
    </a>
  </div>
</div>
<a href="{{ site.url }}/v1/Doctrine">
  Doctrine
</a>
