<nav>
  <a href="{{ site.url }}">
    Getting started
  </a>
  <div class="dropdown">
    <button>
      <a href="{{ site.url }}/kernel">
        Kernel
      </a>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.url }}/kernel/cache">
        Cache
      </a>
      <a href="{{ site.url }}/kernel/calls">
        Calls
      </a>
      <a href="{{ site.url }}/kernel/cfg">
        Configuration
      </a>
      <a href="{{ site.url }}/kernel/console">
        Console
      </a>
      <a href="{{ site.url }}/kernel/log">
        Log
      </a>
      <a href="{{ site.url }}/kernel/signals">
        Signals
      </a>
    </div>
  </div>
  <div class="dropdown">
    <button>
      <a href="{{ site.url }}/http">
        Http
      </a>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.url }}/kernel/not-yet">
        not-yet
      </a>
    </div>
  </div>
</nav>
