<nav>
  <a href="{{ site.url }}">
    Getting started
  </a>
  <div class="dropdown">
    <button>
      <a href="{{ site.url }}/kernel">
        Kernel
      </a>
    </button>
    <div class="dropdown-content">
      <a href="{{ site.url }}/kernel/cfg">
        Configuration
      </a>
      <a href="{{ site.url }}/kernel/log">
        Log
      </a>
    </div>
  </div>
  <div class="dropdown">
    <button>
      Core
    </button>
    <div class="dropdown-content">
      <a href="{{ site.url }}/Core/Compose">
        Compose
      </a>
      <a href="{{ site.url }}/Core/Controller">
        Controller
      </a>
      <a href="{{ site.url }}/Core/Exceptions">
        Exceptions
      </a>
      <a href="{{ site.url }}/Core/Module">
        Module
      </a>
      <a href="{{ site.url }}/Core/Session">
        Session
      </a>
      <a href="{{ site.url }}/Core/Validate">
        Validate
      </a>
    </div>
  </div>
  <a href="{{ site.url }}/Doctrine">
    Doctrine
  </a>
  <!--     <li>
        <a href="Configuration">
          Configuration
        </a>
      </li>
      <li>
        <a href="Routing">
          Routing
        </a>
      </li>
      <li>
        <a href="Modules">
          Modules
        </a>
      </li>
      <li>
        <a href="Templating">
          Templating
        </a>
      </li>
      <li>
        <a href="Controller">
          Controller
        </a>
      </li>
      <li>
        <a href="Translations">
          Translations
        </a>
      </li>
      <li>
        <a href="PublicFiles">
          Public files
        </a>
      </li>
    -->
</nav>
