---
---

@import "{{ site.theme }}";

body {
	background: #ccc;
}

.main-content {
	background: #fff;
}

header, header>a {
    color: #fff;
}

header {
	text-align: left;
	padding: 20px 0px 0px 0px;
	background: #0c3d91;
}

.header-title {
    font-size: 48px;
    margin: 0;
    display: inline;
}

.header-title sup {
    color: #008ad0;
}

.header-description {
    margin: 0;
    margin-bottom: 20px;
}

.header-title, .header-description {
    margin-left: 40px;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
    color: #0c3d91;
}

/*
 * navigation
 */

nav {
    background: #008ad0;
    overflow: hidden;
}

nav button {
}

nav a {
    color: #fff;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

nav a, nav button {
    border: none;
    outline: none;
    background: transparent;
}

nav .dropdown-content>a {
    border-top: 1px solid #007ebf;
}

nav button>a {
    border-bottom: 0;
}

nav a:hover, nav button:hover {
    background: #0c3d91;
    text-decoration: none;
}

nav button {
    float: none;
}

nav .dropdown {
    float: left;
    overflow: hidden;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background: #008ad0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

nav .dropdown-content a {
    display: block;
    float: none;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav #version-select {
    float: right;
    margin-right: 20px;
}
