---
---

@import "{{ site.theme }}";

body {
	background: #ccc;
}

.main-content {
	background: #fff;
}

header, header>a {
    color: #fff;
}

header {
	text-align: left;
	padding: 20px 0px 0px 0px;
	background: #0c3d91;
}

.header-title {
    font-size: 48px;
    margin: 0;
    display: inline;
}

.header-description {
    margin: 0;
    margin-bottom: 20px;
}

.header-title, .header-description {
    margin-left: 40px;
}

nav {
    background: #008ad0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    display: list-item;
    padding: 7px 0px 10px 0px;
    border: 1px solid #0c3d91;
    border-left: 0;
    border-top: 0;
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    text-align: center;
}

nav li:hover {
    background: #0c3d91;
}

nav a {
    color: #fff;
    padding: 5px 10px 5px 10px;
}

nav a:hover {
    text-decoration: none;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
    color: #0c3d91;
}